@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container{
      width: min(1180px, 100% - (1rem * 2));
      margin-inline: auto;

  }
  /* WebKit-based browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background:#0a0a0a ;
}

::-webkit-scrollbar-thumb {
  background: #dac6fb;
}

::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;

}
::-webkit-scrollbar-corner{
  background:#fff ;

}  

}