@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container{
      width: min(1180px, 100% - (1rem * 2));
      margin-inline: auto;

  }
 
  /* WebKit-based browsers */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
   @apply bg-bgColor
}

::-webkit-scrollbar-thumb {
  @apply bg-ghostWhite
}
::-webkit-scrollbar-button{
  @apply bg-bgColor

}
::-webkit-scrollbar-corner{
  @apply bg-white

}  
::-webkit-scrollbar-track-piece{
  @apply bg-black
}

}